html{
    font-family: "Anta", sans-serif;
}

body{
    background-color: #D2FAFA;
    margin: 0px;
    padding: 0px;
}

header{
    padding: 1rem;
    background-color: #ABDDF5;
}

main{
    padding: 1rem;
    background-color: #9BFADA;
}

footer{
    padding: 1rem;
    background-color: #CFECFA;
}